<ion-header>
  <ion-toolbar>
    
    <img src="../../assets/img/logo_empreget.png" alt="" height="40" width="150">
    <ion-title align = "right">Página de O.S.</ion-title>

  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <p>Ordem N.40</p>  
    </div>
  
    <div>
      <ion-card class = "card">
        <ion-card-header></ion-card-header>
      
        <ion-card-content>
          <table>
            <tr>
              <td colspan="2">Empresa Responsável</td>
            </tr>
            <tr>
              <td style="width: 300px;">Nome</td>
              <td style="width: 300px;">Telefone</td>
            </tr>
            <tr>
              <td>EmpreGet</td>
              <td>(43) 9999-99999</td>
            </tr>
            <tr>
              <td>CPF/CNPJ</td>
              <td>Endereço</td>
            </tr>
            <tr>
              <td>71.881.424/0001-81</td>
              <td>Av.Higienópolis,1125-Centro-Londrina-PR</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>   
    </div>
    <div>
      <ion-card class = "card">
        <ion-card-header></ion-card-header>
      
        <ion-card-content>
          <table>
            <tr>
              <td colspan="2">Cliente</td>
            </tr>
            <tr>
              <td style="width: 200px;">Nome</td>
              <td style="width: 200px;">Telefone</td>
            </tr>
            <tr>
              <td>Sueli Cavalcanti</td>
              <td>(43) 9999-99999</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>Endereço</td>
            </tr>
            <tr>
              <td>sueli@gmail.com</td>
              <td>Av. Paraná,1125 - Centro - Londrina-Pr</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>   
    </div>
    <div>
      <ion-card class = "card">
        <ion-card-header></ion-card-header>
      
        <ion-card-content>
          <table>
            <tr>
              <td colspan="3">Valor do Serviço</td>
            </tr>
            <tr>
              <td style="width: 300px;">Serviço</td>
              <td style="width: 75px;">Valor</td>
              <td style="width: 75px;">Subtotal</td>
            </tr>
            <tr>
              <td>Serviço de limpeza e higiene</td>
              <td>R$ 150,00</td>
              <td>R$ 150,00</td>
            </tr>
            
          </table>
        </ion-card-content>
      </ion-card>  
     </div>
     <div>

      
    <div>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size="auto" class="ion-text-center" style="padding: 0 10px;">
            <ion-button shape="round" color="success">
              Aceitar
            </ion-button>
          </ion-col>
          <ion-col size="auto" class="ion-text-center" style="padding: 0 10px;">
            <ion-button shape="round" color="danger">
              Rejeitar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
      

     </div>


<ion-footer class = "footer"> 
  <ion-toolbar> 
    <div>
      <ion-grid>
        <ion-row justify-content-center>
            <ion-col size="auto" class="ion-text-center" style="padding: 0 10px;">
              <ion-button fill="outline" routerLink ="/home" >Página Inicial</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
   


   </ion-toolbar>
</ion-footer> 