<ion-header>
  <ion-toolbar>
    <ion-title>Página de O.S.</ion-title>

  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <p>Ordem N.40</p>  
    </div>
  
    <div>
      <ion-card class = "card">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <table>
            <tr>
              <td colspan="2">Empresa Responsável</td>
            </tr>
            <tr>
              <td>Nome</td>
              <td>Telefone</td>
            </tr>
            <tr>
              <td>EmpreGet</td>
              <td>(43) 9999-99999</td>
            </tr>
            <tr>
              <td>CPF/CNPJ</td>
              <td>Endereço</td>
            </tr>
            <tr>
              <td>71.881.424/0001-81</td>
              <td>Av.Higienópolis,1125-Centro-Londrina-PR</td>
            </tr>
          </table>        </ion-card-content>
      </ion-card>   
    </div>

  <ion-button fill="outline" routerLink ="/home" >Página Inicial</ion-button>
</ion-content>