
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>    
      <ion-col>    
        <img src="../../assets/img/logo_empreget.png" >
    </ion-col>
    </ion-row>
    
    <p>Sou:</p>
    
    <ion-row>    
      <ion-col>    
        <img src="../../assets/img/cliente.PNG" >
      </ion-col>
    </ion-row>
    
    <p></p>
    
    <ion-row>    
      <ion-col>    
        <img src="../../assets/img/prestador2.PNG" routerLink ="/tela-inicial-prestador" >
      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>



<ion-footer class = "footer"> 
  <ion-toolbar> 
    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="imagem" >
              
              <img src="../../assets/img/home.PNG"  routerLink="/home">
              <img src="../../assets/img/chat.PNG"  routerLink="/home">
              <img src="../../assets/img/agenda.PNG" routerLink="/agendamentos">
              <img src="../../assets/img/menu.PNG"  routerLink="/home">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-footer> 