

.header {
  display: flex;
  align-items: flex-end;
  text-align: right;
  max-width:50%;
}
.header title {
  padding: 50px 0px 0px 0px;
}



ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 100%;
  font-size: x-small;
}

ion-grid ion-row ion-col img {
  max-height : 50px;
  padding: 1px 30px;
}
