<ion-header>
  <ion-toolbar>
    <div class = "header">  
      <!-- <img src="../../assets/img/logo_empreget.png" style="max-width:50%; height:auto;padding-left: 10px" > -->
      <img src="../../assets/img/logo_empreget.png" >
        <ion-title>Prestador</ion-title>
    </div>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>    
      <ion-col>    
        <ion-button fill="outline" routerLink ="/tela-inicial-prestador" >Prestador</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer class = "footer"> 
  <ion-toolbar> 
    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center" >
              <ion-button fill="outline" routerLink ="" >Home</ion-button>
              <img src="../../assets/img/home.PNG"  >
              <img src="../../assets/img/chat.PNG"  >
              <img src="../../assets/img/agenda.PNG" >
              <img src="../../assets/img/menu.PNG"  >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-footer> 